{% extends 'layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block pageTitle %}Accueil{% endblock %}
{% block main %}
  {% for movie in movies %}
    <div class="card w-50 m-auto">
      <div class="card-body">
        <img style="height: 300px; width: 100%; display: block;" src="https://lorempixel.com/540/370/" alt="...">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.sumary }}</p>
        <a class="btn btn-primary" href="{{ path('evaluation', {'id' : movie.id}) }}">Evaluer</a>
        <a class="btn btn-primary" href="{{ path('single', {'id' : movie.id}) }}">Voir</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}


