{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Movie Rating</h1>
    <p class="lead">Le premier site français pour évaluer les films tout pourris produits par le cinéma français</p>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <a class="btn btn-warning text-white my-4" href="{{ path('app_logout') }}">Déconnexion</a>
    {% else %}
    <a class="btn btn-success text-white my-4" href="{{ path('app_login') }}">Connexion</a>
    {% endif %}
  </div>
{% block main %}{% endblock %}
<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <p class="lead">Si vous êtes un réalisateur français et que vous vous plaigniez des notes attribuées à votre navet, il ne fallait pas produire une telle bouze. XOXO</p>
  </div>
</div>
{% endblock %}

